script(src="https://vk.com/js/api/openapi.js?146" type="text/javascript")

<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-139061-1TWgT';</script>