@import '../../../sass/variables'

.controllers
  padding: 2rem 0
  &__category, &__subCategory
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem 0 0
    flex-wrap: wrap
    .controllers__item.ui.button
      border-radius: 0

  &__category
    width: 850px
    margin: 0 auto
    .controllers__item.ui.button
      padding: 0.5em 1em
      font-size: 1rem
      text-transform: uppercase

  &__subCategory
    .controllers__item.ui.button
      padding: 0.5em 1em
      font-size: 1rem
      text-transform: uppercase
      background: $gray-l
    .controllers__item.ui.button.secondary
      font-size: 1.2rem
      background: #fff

  &__item
    padding: 0.8em 1.2em

  &__item.ui.button
    margin: 0 1rem 1rem 0

@media screen and (max-width: 991px)
  .wrap-controllers
    display: none