link(rel="canonical" href="//stroy.sale")
//- определние "главной" страницы всех зеркал.
link(rel='dns-prefetch' href='//stroy.sale')
//- ОТКЛЮЧИТЬ ПРИ НЕОБХОДИМОСТИ сообщение браузеру, по каким адресам могут находиться ресурсы текущей страницы.