<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Строительный дискаунтер STROY.SALE</title>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="mtsymlov"/>
    <meta name="copyright" content="(c) stroy.sale"/>
    <meta http-equiv="Reply-to" content="info@enocon.ru"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta http-equiv="x-rim-auto-match" content="none"/>
    <meta name="viewport" content="width=1200"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="msthemecompatible" content="no"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="theme-color" content="#468996"/>
    <meta name="msapplication-navbutton-color" content="#468996"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="canonical" href="//stroy.sale"/>
    <link rel="dns-prefetch" href="//stroy.sale"/>
    <link rel="stylesheet" href="css/min/style.min.css"/>
    <link rel="stylesheet" href="css/min/libs.min.css"/>
    <script src="https://vk.com/js/api/openapi.js?146" type="text/javascript"></script><script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-139061-1TWgT';</script><!--[if lt IE 9]>
    <script src="js/min/html5shiv.min.js"></script>
    <script src="js/min/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div id="test">
      <div class="menu">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 text-left">
              <div class="header__menu menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" @click="goModal" href="/#/catalog/0" title="" data-modal="catalog">Каталог</a></li>
                  <li class="menu__item"><a class="menu__link" @click.prevent="goModal" href="#" title="" data-modal="pay">Доставка и оплата</a></li>
                  <li class="menu__item"><a class="menu__link" @click.prevent="goModal" href="#" title="" data-modal="back">Возврат товара</a></li>
                  <li class="menu__item">
                    <router-link class="menu__link" @click="goModal" to="/blog" title="" data-modal="blog">Блог</router-link>
                  </li>
                  <!--li.menu__itema(@click.prevent="goModal" href="#", title="", data-modal="service").menu__link О сервисе
                  -->
                  <li class="menu__item"><a class="menu__link" @click.prevent="goModal" href="#" title="" data-modal="contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 text-right">
              <div class="header__menu menu">
                <ul class="menu__list">
                  <li class="menu__item small"><a class="menu__link menu__link--cart" @click.prevent="goCart" href="#" title=""><i class="big in cart icon"></i> В корзине {{orderCount}} тов.</a></li>
                  <!--li.menu__itema(@click.prevent="goModal" href="#", title="", data-modal="provider").menu__link Хотите продавать на STROY.SALE?
                  -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 text-left">
              <div class="logo header__logo"><img class="logo__img" src="img/logo.png" alt=""/></div>
            </div>
          </div>
          <!-- .row.h1
          .col-sm-12.text-center
          	h1 Материалы для ремонта<br>со скидкой до 50<span class="percent">%</span>!
          	button.ui.button.button--green(@click="buttonmodal=true") Откуда скидка?
          	.h1__description(v-if="buttonmodal")
          		p Скидка формируется за счет распродажи складских остатков<br>и неликвидов строительных, торговых и производственных компаний
          
          
          -->
        </div>
      </div>
      <router-view :catalogdesc="catalogArray" :target="menuTarget"></router-view>
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 text-center">
              <social></social>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="logo footer__logo"><img class="logo__img" src="img/logo--footer.png" alt=""/></div>
              <div class="footer__menu menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" @click="goModal" href="/#/catalog/0" title="" data-modal="catalog">Каталог</a></li>
                  <li class="menu__item"><a class="menu__link" @click.prevent="goModal" href="#" title="" data-modal="pay">Доставка и оплата</a></li>
                  <li class="menu__item"><a class="menu__link" @click.prevent="goModal" href="#" title="" data-modal="back">Возврат товара</a></li>
                  <li class="menu__item">
                    <router-link class="menu__link" @click="goModal" to="/blog" title="" data-modal="blog">Блог</router-link>
                  </li>
                  <!--li.menu__itema(@click.prevent="goModal" href="#", title="", data-modal="service").menu__link О сервисе
                  -->
                  <li class="menu__item"><a class="menu__link" @click.prevent="goModal" href="#" title="" data-modal="contacts">Контакты</a></li>
                  <!--li.menu__itema(@click.prevent="goModal" href="#", title="", data-modal="provider").menu__link Хотите продавать на STROY.SALE?
                  -->
                </ul>
              </div>
              <div class="copyright__menu menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Задайте вопрос</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Пользовательское соглашение</a></li>
                  <li class="menu__item">©STROY.SALE | 2013-2017 | Все права защищены</li>
                </ul>
              </div>
            </div>
            <modal :target="menuTarget"></modal>
          </div>
        </div>
      </div>
      <!--.rub500
      a(href="#").rub500__link
      	img(src="img/rub500.png", @click="goModal", data-modal="callback", alt="")
      -->
      <!--.rub500
      a(href="#").rub500__link
      	img(src="img/rub500.png", @click="goCart", data-modal="callback", alt="")
      -->
      <div class="sm"><a class="sm__vk" href="https://vk.com/stroy.sale" target="_blank" onclick="yaCounter45187896.reachGoal('sm'); return true;"><img src="img/vk__ico.png"/></a><a class="sm__fb" href="https://www.facebook.com/Строительный-дискаунтер-stroysale-798981756933631/" target="_blank" onclick="yaCounter45187896.reachGoal('sm'); return true;"><img src="img/fb__ico.png"/></a></div>
      <div class="row modal is-active" v-show="showmodal">
        <div class="col-sm-12">
          <div class="container modal-content order__content">
            <div class="row order">
              <div class="col-sm-4 order__description order-description">
                <div class="cart" v-for="(item,index) in setfullOrder">
                  <div class="cart__img"><img :src="setfullOrder[index].image | withImage" alt=""/></div>
                  <div class="cart__description">
                    <div class="order-description__name">{{setfullOrder[index].name}}</div>
                    <div class="order-description__price--new">{{setfullOrder[index].price | deleteLastSymb(setfullOrder[index].sale)}} руб.</div>
                    <div class="order-form__b-items">
                      <button class="order-form__items-button button ui" @click.prevent="setFullOrderCount(index, 'minus')">-</button>
                      <input class="order-form__items-amount" :value="setfullOrder[index].count" v-model="setfullOrder[index].count"/>
                      <button class="order-form__items-button button ui" @click.prevent="setFullOrderCount(index, 'plus')">+</button>
                      <div class="order-form__items-button order-form__items-button--delete" @click.prevent="setFullOrderCount(index, 'delete', setfullOrder[index].number)"><i class="remove circle icon"></i></div>
                    </div>
                    <div class="order-form__sum">Сумма: {{setfullOrder[index].price * setfullOrder[index].count}} рублей</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8 order__data order-data">
                <div class="order-data__header">Оформление заказа</div>
                <form class="order-data__form order-form" id="form--category" onsubmit="yaCounter45187896.reachGoal('order'); return true;">
                  <div class="form__msgs"></div>
                  <fieldset>
                    <h3>Контакты:</h3>
                    <label>Введите email</label>
                    <input type="text" placeholder="" name="form__email" id="form__email"/>
                    <label>Введите номер телефона</label>
                    <input type="text" placeholder="" name="form__phone" id="form__phone"/>
                  </fieldset>
                  <fieldset>
                    <h3>Доставка:</h3>
                    <select class="ui selection dropdown" name="form__delivery" id="form__delivery" v-model="deliveryKind">
                      <option value="" disabled="disabled" selected="selected">- Выберите способ -</option>
                      <option value="1">Самовывоз -- бесплатно</option>
                      <option value="2">Доставка курьерской службой</option>
                    </select><br/>
                    <label>Адрес</label>
                    <input type="text" name="form__address" id="form__address" disabled="disabled" v-bind:placeholder="address"/>
                  </fieldset>
                  <fieldset>
                    <h3>Оплата:</h3>
                    <select class="ui selection dropdown" name="form__payment" id="form__payment" v-model="paymentKind">
                      <option value="" disabled="disabled" selected="selected">- Выберите способ -</option>
                      <option value="1">Онлайн --- бесплатно</option>
                      <option value="2">Банковский счёт --- бесплатно</option>
                      <option value="3">Наличными в офисе --- бесплатно</option>
                      <option value="4">При получении --- 1 500р за выезд курьера</option>
                    </select>
                  </fieldset>
                  <fieldset class="order-form__b-cost">
                    <h2>Стоимость - <strong>{{fullcost}}</strong> руб.</h2>
                    <button class="button ui button--orange order-form__button-submit" type="submit" @click="sendOrder">ЗАКАЗАТЬ</button>
                    <div><strong>Условия акции действительны только<br>при покупке на сумму от 5 000 рублей</strong></div>
                  </fieldset>
                  <fieldset class="input--hidden">
                    <input type="text" name="form__cost" v-bind:value="fullcost"/>
                    <!--input(type="text", name="form__amount", v-bind:value='orderitemamount')-->
                    <!--input(type="text", name="form__price", v-bind:value='order.price')-->
                    <!--input(type="text", name="form__name", v-bind:value='order.name')-->
                    <!--input(type="text", name="form__sale", v-bind:value='order.sale')-->
                    <!--input(type="text", name="form__number", v-bind:value='order.number')-->
                    <!--input(type="text", name="form__fullorder", v-bind:value='setfullorder')-->
                    <input type="text" name="form__order" v-bind:value="ordernumber"/>
                    <input type="text" name="form__address" v-bind:value="address"/>
                  </fieldset>
                </form>
              </div>
              <div class="modal-close" @click="endModal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/min/libs.min.js"></script>
    <script src="js/min/my.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script><!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45187896 = new Ya.Metrika({ id:45187896, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45187896" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  </body>
</html>