meta(charset="UTF-8")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="mtsymlov")
meta(name="copyright" content="(c) stroy.sale")
meta(http-equiv="Reply-to" content="info@enocon.ru")
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
meta(http-equiv="x-rim-auto-match" content="none")
meta(name="viewport" content="width=1200")
//- width - ширина области просмотра. device-width - которая задаёт ширину страницы в соответствии с размером экрана initial-scale – начальный масштаб страницы.  maximum-scale – максимальный масштаб области просмотра.
meta(name="HandheldFriendly" content="True")
//- тег сообщает устройству, что страница версталась с учетом особенностей мобильного устройства, и что ее необходимо отображать не применяя масштабирование.
meta(name="MobileOptimized" content="width")
//- задаёт ширину области просмотра в мобильных браузеров IE Mobile или Pocket IE. Является аналогом атрибута width в meta-теге viewport.
meta(name="apple-mobile-web-app-capable" content="yes")
meta(http-equiv="cleartype" content="on")
//- Mobile Internet Explorer позволяет принудительно активировать технологию ClearType для сглаживания шрифтов/
meta(http-equiv="X-UA-Compatible" content="IE=edge")
//- просим IE переключиться в последний режим/
meta(http-equiv="msthemecompatible" content="no")
//- просим IE оформлять все в классическом стиле без учета текущей темы операционки.
meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
//- защита от превращения телефонных номеров, найденных на web-странице, в Skype-меню
meta(http-equiv="Cache-Control" content="no-cache")
//-  ОТКЛЮЧИТЬ  запрет на кэширование страницы
meta(name="theme-color" content="#468996")
meta(name="msapplication-navbutton-color" content="#468996")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
//- закрасить адресную строку и строку уведомлений в любой цвет.

