extends tpl.landing-page.pug

block title
	title Строительный дискаунтер STROY.SALE

block content
	#test
		.menu
			.container-fluid
				.row
					.col-sm-8.text-left
						.header__menu.menu
							ul.menu__list
								li.menu__item
									a(@click="goModal" href="/#/catalog/0", title="", data-modal="catalog").menu__link Каталог
								li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="pay").menu__link Доставка и оплата
								li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="back").menu__link Возврат товара
								li.menu__item
									router-link(@click="goModal", to="/blog", title="", data-modal="blog").menu__link Блог
								//li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="service").menu__link О сервисе
								li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="contacts").menu__link Контакты
					.col-sm-4.text-right
						.header__menu.menu
							ul.menu__list
								li.menu__item.small
									a.menu__link.menu__link--cart(@click.prevent="goCart", href="#", title="",) <i class="big in cart icon"></i> В корзине {{orderCount}} тов.
								//li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="provider").menu__link Хотите продавать на STROY.SALE?
		.header
			.container
				.row
					.col-sm-3.text-left
						.logo.header__logo
							img.logo__img(src="img/logo.png", alt="")
				// .row.h1
					.col-sm-12.text-center
						h1 Материалы для ремонта<br>со скидкой до 50<span class="percent">%</span>!
						button.ui.button.button--green(@click="buttonmodal=true") Откуда скидка?
						.h1__description(v-if="buttonmodal")
							p Скидка формируется за счет распродажи складских остатков<br>и неликвидов строительных, торговых и производственных компаний


		router-view(:catalogdesc="catalogArray", :target="menuTarget")
		.footer
			.container-fluid
				.row
					.col-sm-12.text-center
						social
				.row
					.col-sm-12.text-center
						.logo.footer__logo
							img.logo__img(src="img/logo--footer.png", alt="")
						.footer__menu.menu
							ul.menu__list
								li.menu__item
									a(@click="goModal" href="/#/catalog/0", title="", data-modal="catalog").menu__link Каталог
								li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="pay").menu__link Доставка и оплата
								li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="back").menu__link Возврат товара
								li.menu__item
									router-link(@click="goModal", to="/blog", title="", data-modal="blog").menu__link Блог
								//li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="service").menu__link О сервисе
								li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="contacts").menu__link Контакты
								//li.menu__item
									a(@click.prevent="goModal" href="#", title="", data-modal="provider").menu__link Хотите продавать на STROY.SALE?
						.copyright__menu.menu
							ul.menu__list
								li.menu__item
									a.menu__link(href="#") Задайте вопрос
								li.menu__item
									a.menu__link(href="#") Пользовательское соглашение
								li.menu__item ©STROY.SALE | 2013-2017 | Все права защищены
					modal(:target="menuTarget")
		//.rub500
			a(href="#").rub500__link
				img(src="img/rub500.png", @click="goModal", data-modal="callback", alt="")
		//.rub500
			a(href="#").rub500__link
				img(src="img/rub500.png", @click="goCart", data-modal="callback", alt="")
		.sm
			a.sm__vk(href="https://vk.com/stroy.sale", target="_blank", onclick="yaCounter45187896.reachGoal('sm'); return true;")
				img(src="img/vk__ico.png")
			a.sm__fb(href="https://www.facebook.com/Строительный-дискаунтер-stroysale-798981756933631/", target="_blank", onclick="yaCounter45187896.reachGoal('sm'); return true;")
				img(src="img/fb__ico.png")
		.row.modal.is-active(v-show="showmodal")
			.col-sm-12
				.container.modal-content.order__content
					.row.order
						.col-sm-4.order__description.order-description
							.cart(v-for="(item,index) in setfullOrder")
								.cart__img
										img(:src='setfullOrder[index].image | withImage', alt='')
								.cart__description
									.order-description__name {{setfullOrder[index].name}}
									.order-description__price--new {{setfullOrder[index].price}} руб.
									.order-form__b-items
										button.order-form__items-button.button.ui(@click.prevent="setFullOrderCount(index, 'minus')") -
										input.order-form__items-amount(:value="setfullOrder[index].count", v-model="setfullOrder[index].count")
										button.order-form__items-button.button.ui(@click.prevent="setFullOrderCount(index, 'plus')") +
										.order-form__items-button.order-form__items-button--delete(@click.prevent="setFullOrderCount(index, 'delete', setfullOrder[index].number)") <i class="remove circle icon"></i>
									.order-form__sum Сумма: {{setfullOrder[index].price * setfullOrder[index].count}} рублей


						.col-sm-8.order__data.order-data
							.order-data__header Оформление заказа
							form.order-data__form.order-form#form--category(onsubmit="yaCounter45187896.reachGoal('order'); return true;")
								.form__msgs
								fieldset
									h3 Контакты:
									label Введите email
									input(type="text" placeholder="", name="form__email", id="form__email")
									label Введите номер телефона
									input(type="text" placeholder="", name="form__phone", id="form__phone")
								fieldset
									h3 Доставка:
									select(name="form__delivery", id="form__delivery", v-model="deliveryKind", class="ui selection dropdown")
										option(value="" disabled selected) - Выберите способ -
										option(value="1") Самовывоз -- бесплатно
										option(value="2") Доставка курьерской службой
									br
									label Адрес
									input(type="text", name="form__address", id="form__address", disabled, v-bind:placeholder='address')
								fieldset
									h3 Оплата:
									select(name="form__payment", id="form__payment",  v-model="paymentKind",  class="ui selection dropdown")
										option(value="" disabled selected) - Выберите способ -
										option(value="1") Онлайн --- бесплатно
										option(value="2") Банковский счёт --- бесплатно
										option(value="3") Наличными в офисе --- бесплатно
										option(value="4") При получении --- 1 500р за выезд курьера
								fieldset.order-form__b-cost
									h2 Стоимость - <strong>{{fullcost}}</strong> руб.
									button.button.ui.button--orange.order-form__button-submit(type="submit", @click="sendOrder") ЗАКАЗАТЬ
								fieldset(class="input--hidden")
									input(type="text", name="form__cost", v-bind:value='fullcost')
									//input(type="text", name="form__amount", v-bind:value='orderitemamount')
									//input(type="text", name="form__price", v-bind:value='order.price')
									//input(type="text", name="form__name", v-bind:value='order.name')
									//input(type="text", name="form__sale", v-bind:value='order.sale')
									//input(type="text", name="form__number", v-bind:value='order.number')
									input(type="text", name="form__fullorder", v-bind:value='setfullorder')
									input(type="text", name="form__order", v-bind:value='ordernumber')
									input(type="text", name="form__address", v-bind:value='address')
						.modal-close(@click="endModal")