@import "variables"
@import "fonts"
@import "../components/modules/MenuModules/style"
@import "../components/modules/FormOrderModules/style"
@import "../components/modules/HeaderModules/style"
@import "../components/modules/SubscribeModules/style"
@import "../components/modules/SocialApiModules/style"
@import "../components/modules/FooterModules/style"
@import "../components/pages/CatalogPage/Catalog"
@import "../components/pages/CartPage/Cart"
@import "../components/modules/CatalogListModules/style"
@import "../components/modules/ControllersModules/style"
@import "../components/modules/CartListModules/style"
@import "../components/modules/AdditionalProductsList/style"
@import "../libs/bootstrap-sass-grid/sass/bootstrap-sass-grid"
@import "../libs/semantic/dist/components/button.min.css"
@import "../libs/semantic/dist/components/icon.min.css"
@import "../libs/semantic/dist/components/input.min.css"
@import "../libs/semantic/dist/components/form.min.css"
@import "../libs/semantic/dist/components/dropdown.min.css"

html
  font-size: 10px
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  font-weight: 300
  line-height: 1.3

h1,h2,h3,h4,h5,h6
  font-family: $font-family-intro

h1
  color: $black
  margin: 2.4rem 0
  line-height: 4.8rem
  text-align: left
  font-size: 3.6rem

h2
  font-size: 2.4rem
  margin: 4rem 0 2rem
  line-height: 4rem

h3
  font-size: 2rem
  margin: 3.33rem 0 1.67rem
  line-height: 3.33rem

fieldset
  legend
    font:
      size: 2rem
      weight: 500

p
  margin: 1.2rem 0

a,
p,
div,
code,
input,
fieldset
  font-size: 1.8rem
  line-height: 2.4rem

a
  text-decoration: none

.text-center
  text-align: center

.hidden
  display: none

main
  background-color: $gray
  padding-bottom: 15rem

.main--success
  transform: translateY(0)
  transition-delay: 0.1s
  transition-timing-function: ease
  transition-duration: 1s

.main--load
  transform: translateY(50px)

article
  table
    td
      border: 1px solid $gray-l
      padding: 10px

form
  input[type="text"]
    display: block
    height: 30px
    font-size: 1.6rem
    padding: 10px
    border: none
    width: 250px
    background: $gray-l
    color: $black
    border-bottom: 1px solid
    border-bottom-color: mix(black, $gray, 30% )
    margin: 0px 10px 10px 10px

    &:focus
      background: #fff
      outline-style: none

  input[type="text"].error
    border-bottom: 1px solid red

  select
    margin: 10px

  label.error
    display: none

  input::-webkit-input-placeholder
    color: $black
  input::-moz-placeholder
    color: #fff
  input::-moz-placeholder
    color: #fff
  input:-ms-input-placeholder
    color: #fff

.button--orange,
input.button--orange[type="submit"]
  background-color: $orange
  color: #fff

.button--green,
input.button--green[type="submit"]
  background-color: $green
  color: #fff
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.3)
  &:hover
    color: $green-d
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.3)
